
.endGame {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: $background-color;
    &__content{
        margin: auto;
        font-size: 4rem;
        color: $lizard-color;
        span {
            color: $rock-color;
        }
    }
}