
.roundResult {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: $background-color;
    &__resultContainer {
        margin: auto;
    }
    &__title{
        text-transform: uppercase;
        font-family: 'Bubblegum Sans', cursive;
        font-size: 4rem;
        color: $lizard-color;
    }
}





