
.front-page{
    background: lightblue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 9;
}

.userOptions {
  display: flex;
  &__button{
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    &--rock{
        background-color: $rock-color;
    }
    &--paper{
        background-color: $paper-color;
    }
    &--scissors{
        background-color: $scissors-color;
    }
    &--lizard{
        background-color: $lizard-color;
    }
    &--spock{
        background-color: $spock-color;
    }
  }
  &__image{
    width: 50%;
    margin: auto;
    border: 1px solid tomato;
    position: relative;
    top: 10%;
    &--spock{
      width: 40%;
    }
    &--rock{
      top: 0;
    }
  }
}

.cardContainer{
    perspective: 1000px;
    height: 200px;
    width: 200px;
    .playerCards__cardFlipper {
        transition: 5s;
        transform-style: preserve-3d;
        position: relative;        
        &--active{
            transform: rotateY(180deg);
        }
    .card {
        height: 200px;
        width: 200px;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        &--front{
            //  z-index: 2;
            // backface-visibility: hidden;
            img{
                backface-visibility: hidden;
            }
            }
        &--back{
            transform: rotateY(180deg);
            // backface-visibility: hidden;
            img{
                backface-visibility: hidden;
            }
            }
        }
    }

}



// .card--front{
//     // background: purple;
//     z-index: 2;
//     backface-visibility: hidden;
// }

// .card--back{
//     // background: tomato;
//     transform: rotateY(180deg);
//     backface-visibility: hidden;
// }