






.roundResult {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: $background-color;
    &__resultContainer {
        margin: auto;
    }
    &__title{
        color: tomato;
    }
}



.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__leaderBoard{
        display: flex;
    }
    &__title{
        
    }
    &__scoreTracker{
        display: flex;
        width: 100px;
        justify-content: space-between;
        align-items: center;
        &Container{
            display: flex;
            width: 40px;
            div {
                width: 50%;
                img{
                    width: 100%;
                }
            }
        }
    }
}

