.App {
  text-align: center; }

.userOptions {
  display: flex; }
  .userOptions__button {
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto; }
  .userOptions__image {
    width: 50%;
    margin: auto;
    border: 1px solid tomato;
    position: relative;
    top: 10%; }
    .userOptions__image--spock {
      width: 40%; }
    .userOptions__image--rock {
      top: 0; }
