.App {
  text-align: center; }

.front-page {
  background: lightblue;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 9; }

.userOptions {
  display: flex; }
  .userOptions__button {
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto; }
    .userOptions__button--rock {
      background-color: #ee6055; }
    .userOptions__button--paper {
      background-color: #60d394; }
    .userOptions__button--scissors {
      background-color: #aaf683; }
    .userOptions__button--lizard {
      background-color: #ffd97d; }
    .userOptions__button--spock {
      background-color: #ff9b85; }
  .userOptions__image {
    width: 50%;
    margin: auto;
    border: 1px solid tomato;
    position: relative;
    top: 10%; }
    .userOptions__image--spock {
      width: 40%; }
    .userOptions__image--rock {
      top: 0; }

.cardContainer {
  perspective: 1000px;
  height: 200px;
  width: 200px; }
  .cardContainer .playerCards__cardFlipper {
    transition: 5s;
    transform-style: preserve-3d;
    position: relative; }
    .cardContainer .playerCards__cardFlipper--active {
      transform: rotateY(180deg); }
    .cardContainer .playerCards__cardFlipper .card {
      height: 200px;
      width: 200px;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0; }
      .cardContainer .playerCards__cardFlipper .card--front img {
        backface-visibility: hidden; }
      .cardContainer .playerCards__cardFlipper .card--back {
        transform: rotateY(180deg); }
        .cardContainer .playerCards__cardFlipper .card--back img {
          backface-visibility: hidden; }
