.App {
  text-align: center;
}


.userOptions {
  display: flex;
  &__button{
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
  }
  &__image{
    width: 50%;
    margin: auto;
    border: 1px solid tomato;
    position: relative;
    top: 10%;
    &--spock{
      width: 40%;
    }
    &--rock{
      top: 0;
    }
  }
}



