article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  text-align: center; }

.App {
  height: 100vh;
  background-color: #4791ff; }

.front-page {
  background: lightblue;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 9; }

.userOptions {
  display: flex; }
  .userOptions__button {
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto; }
    .userOptions__button--rock {
      background-color: #ee6055; }
    .userOptions__button--paper {
      background-color: #60d394; }
    .userOptions__button--scissors {
      background-color: #aaf683; }
    .userOptions__button--lizard {
      background-color: #ffd97d; }
    .userOptions__button--spock {
      background-color: #ff9b85; }
  .userOptions__image {
    width: 50%;
    margin: auto;
    border: 1px solid tomato;
    position: relative;
    top: 10%; }
    .userOptions__image--spock {
      width: 40%; }
    .userOptions__image--rock {
      top: 0; }

.cardContainer {
  perspective: 1000px;
  height: 200px;
  width: 200px; }
  .cardContainer .playerCards__cardFlipper {
    transition: 2s;
    transform-style: preserve-3d;
    position: relative; }
    .cardContainer .playerCards__cardFlipper--active {
      transform: rotateY(180deg); }
    .cardContainer .playerCards__cardFlipper .card {
      background-color: #c6c5ec;
      border-radius: 5%;
      border: 1px black solid;
      height: 200px;
      width: 200px;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      display: flex; }
      .cardContainer .playerCards__cardFlipper .card img {
        position: relative;
        margin: auto;
        width: 70%; }
      .cardContainer .playerCards__cardFlipper .card--back {
        transform: rotateY(180deg); }
      .cardContainer .playerCards__cardFlipper .card--rock {
        background-color: #ee6055; }
      .cardContainer .playerCards__cardFlipper .card--paper {
        background-color: #60d394; }
        .cardContainer .playerCards__cardFlipper .card--paper img {
          top: 8%;
          right: 2%; }
      .cardContainer .playerCards__cardFlipper .card--scissors {
        background-color: #aaf683; }
        .cardContainer .playerCards__cardFlipper .card--scissors img {
          top: 8%;
          right: 1%; }
      .cardContainer .playerCards__cardFlipper .card--lizard {
        background-color: #ffd97d; }
        .cardContainer .playerCards__cardFlipper .card--lizard img {
          top: 12%; }
      .cardContainer .playerCards__cardFlipper .card--spock {
        background-color: #ff9b85; }
        .cardContainer .playerCards__cardFlipper .card--spock img {
          width: 55%;
          top: 9%;
          right: 3%; }

.roundResult {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: lightblue; }
  .roundResult__resultContainer {
    margin: auto; }
  .roundResult__title {
    color: tomato; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .header__leaderBoard {
    display: flex; }
  .header__scoreTracker {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center; }
    .header__scoreTrackerContainer {
      display: flex;
      width: 40px; }
      .header__scoreTrackerContainer div {
        width: 50%; }
        .header__scoreTrackerContainer div img {
          width: 100%; }
